.icon {
  height: 18px;
  width: 18px;
}

.profile.first-row {
  height: 20px;
  width: 20px;
}

.profile.second-row {
  height: 40px;
  width: 40px;
}

.sidebar img {
  height: 25px;
  width: 25px;
}

.dashboard img {
  height: 40px;
  width: 40px;
}
