* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  height: 18px;
  width: 18px;
}

.profile.first-row {
  height: 20px;
  width: 20px;
}

.profile.second-row {
  height: 40px;
  width: 40px;
}

.sidebar img {
  height: 25px;
  width: 25px;
}

.dashboard img {
  height: 40px;
  width: 40px;
}
.header {
  background-color: pink;
}

.sidebar {
  background-color: yellow;
}

.main-container {
  background-color: orange;
}

.profiles img {
  height: 30px;
  width: 30px;
}
