* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
.icon {
  height: 30px;
  width: 30px;
}

.profile.first-row {
  height: 40px;
  width: 40px;
}

.profile.second-row {
  height: 50px;
  width: 50px;
}

.sidebar img {
  height: 25px;
  width: 25px;
}

.dashboard img {
  height: 40px;
  width: 40px;
}
.header {
  display: grid;
  grid-template: 1fr 1fr/2fr 1fr;
}

.header .search {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.search input {
  height: 40%;
  width: 70%;
  border-radius: 2em;
  border-style: none;
  background-color: rgb(226, 232, 240);
}

.search img {
  margin-right: 1.5em;
  margin-left: 2em;
}

.header .noti {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.noti p {
  font-weight: 600;
}

.header .greet {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 0.7em;
}

.greet img {
  margin-left: 2em;
  margin-right: 1.5em;
}

.greet .small {
  font-size: 0.7rem;
  font-weight: 700;
}

.greet .large {
  font-size: 1rem;
  font-weight: 700;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7%;
}

.action-buttons button {
  padding: 0.5em 2em;
  border-radius: 2em;
  border-style: none;
  color: white;
  background-color: rgb(25, 146, 212);
}

.sidebar {
  background-color: yellow;
}

.main-container {
  background-color: orange;
}

.profiles img {
  height: 30px;
  width: 30px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
}

.header {
  grid-row: 1/2;
  grid-column: 2/3;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
}

.main-container {
  grid-column: 2/3;
}
